k8s {
   namespace = 'medgen-ns'
   runAsUser = 1000
   launchDir = 'XX_ADD_ME_XX'
   workDir = 'XX_ADD_ME_XX'
   projectDir = 'XX_ADD_ME_XX'
}

executor {
  queueSize = 15
}

process {

    withName: align {
        cpus = 16
        memory = 16.GB
        queue = 'short'
    }
    
   executor = 'k8s'
   cpus = 16
   memory = '16GB'
   pod = [[securityContext:[fsGroupChangePolicy:'OnRootMismatch', runAsUser:1000, runAsGroup:1, fsGroup:1]], [nodeSelector:'storage=local-ssd']]
}

manifest {
  defaultBranch = 'main'
}
